**/*.DS_Store
target
.idea

/Cargo.lock

scripts/*.local.sh

thegraph/**/package-lock.json
thegraph/**/yarn.lock
subql/**/package-lock.json
subql/**/yarn.lock
node_modules

generated

metadata.scale
*.dep.txt
*.log
