# darwinia node websocket json-rpc endpoint
node = 'ws://<YOUR_DARWINIA_NODE_URL>'

# private key of relayer, or, private key of proxy
seed = '<YOUR_SEED>'

# allowing `real` account to give permission to `proxy` account to dispatch calls
# The account (32 bytes) that the proxy will make a call on behalf of
# Disable proxy by remove or comment
# [proxy]
# real = '<YOUR_REAL_PUBLIC_KEY>'

# shadow http restful endpoint, refer https://github.com/darwinia-network/shadow
shadow = 'https://testnet.shadow.darwinia.network'

[eth]
# ethereum json-rpc endpoint
rpc = 'https://ropsten.infura.io/v3/0bfb9acbb13c426097aabb1d81a9d016'

[eth.contract.ring]
# erc20 contract of ring
address = '0xb52FBE2B925ab79a821b261C82c5Ba0814AAA5e0'
# cross transfer topic
topics = ['0xc9dcda609937876978d7e0aa29857cb187aea06ad9e843fd23fd32108da73f10']

[eth.contract.kton]
# erc20 contract of kton
address = '0x1994100c58753793D52c6f457f189aa3ce9cEe94'
# cross transfer topic
topics = ['0xc9dcda609937876978d7e0aa29857cb187aea06ad9e843fd23fd32108da73f10']

[eth.contract.bank]
# gringotts bank contract
address = '0x6EF538314829EfA8386Fc43386cB13B4e0A67D1e'
# cross transfer topic
topics = ['0xe77bf2fa8a25e63c1e5e29e1b2fcb6586d673931e020c4e3ffede453b830fb12']

[eth.contract.issuing]
# ERC20 Issuing(Burn) contract, Note that it is *different* with Issuing(Mint) 0x3840...dca5
# https://github.com/darwinia-network/darwinia-bridge-on-ethereum/issues/2
address = '0x49262B932E439271d05634c32978294C7Ea15d0C'
topics = []

[eth.contract.relay]
# ethereum relay contract for darwinia to ethereum
address = '0xd374292D512281b56198F0401b149370D680b89F'
# SetAuthoritiesEvent
topics = ['0x91d6d149c7e5354d1c671fe15a5a3332c47a38e15e8ac0339b24af3c1090690f']

[step]
# ethereum service polling interval in seconds
ethereum = 120
# relay service polling interval in seconds
relay = 60
# redeem service polling interval in seconds
redeem = 150
# guard service polling interval in seconds
guard = 30

[darwinia_to_ethereum]

# ethereum private key
# used to
#   1. sign ecdsa messages
#   2. send authorities to ethereum
# Disable by remove or comment
seed = '<YOUR_ETHEREUM_PRIVATE_KEY>'

# the darwinia account id who will get the reward
# when send authorities to ethereum
# Disable by remove or comment
beneficiary = "<YOUR_BENEFICIARY_DARWINIA_PUBLIC_KEY>"

