name: bridger

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Environment
        run: |
          rustup update
          rustup component add clippy
      - name: Build
        run: cargo build --all-targets --all-features --verbose
      - name: Lint
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Run tests
        run: cargo test --all-targets --all-features --verbose
